<%# StaticPages#about %>
<%# Find me in app/views/static_pages/about.html.erb %>
<h1>About Us</h1>
</br>
</br>
<h2>Teaching and imparting knowledge is the most ancient way by which humanity finds means to evolve. </h1>
</br>
<p>The passing of acquired knowledge and wisdom allows for the future generations to move on to newer grounds and better days, improving our existence at every generation.</p>
</br>
<p>Although some apprentices have the maturity to appreciate and enjoy learning, that sensation can never compare to the actual joy of teaching. It is a selfless deed consisting in sharing that which is most valuable to men and thinking only of those who are yet to be.</p>
</br>
<p>It is this very passion and respect for the act of teaching that brought to our attention the need for a place where the curious minded can go and acquire technology knowledge on demand. A place that provides the required teachings on the selected subject that can be accessed according to the modern lifestyle constraints and limitations.</p>
</br>
<p>Lessons can be easily searched for by subject and proficiency level. A library will be formed and students will be able to start and pick up where they left whenever it is convenient to them.</p>
</br>
<p>Teachers can offer their lessons with ease and be compensated for it. Also, there is no stop to learning so why not have some lessons themselves?</p>
</br>
<p>We propose a one way stop to both teachers and students to share and acquire knowledge, each getting their compensation in the coin they seek.</p>
</br>

<h3> We commit to bringing down the barriers and be a part of humanity’s evolution.</h3>
