<%# Line below displays messages like "You have logged in" %>
<p id="notice"><%= notice %></p>

<h1>Welcome to Code World</h1>

<br />
<h3>Categories</h3>
<%=render 'layouts/categories'%>
<br />
<h3>Hottest Products</h3>
<%=render 'layouts/popular'%>