<%# Line below displays messages like "You have logged in" %>
<p id="notice"><%= notice %></p>

<h1>Code World</h1>
<h2>Welcome</h2>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%=render 'layouts/categories'%>