<!-- Paypal redirects you to this -->
<p>Thank you for your payment</p>
<p>Your order will be placed soon</p>
<%= image_tag("thanks.jpg", :alt => "Delivery Cart", :style => "width: 150px") %>
<% @@totalqty = 0 %>
<% @@totalDisplayed = 0 %>